$color-pokedex: #ee4035;
$color-items: #0075be;
$color-moves: #38bf4b;
$color-selector-text: #f5f6fa;
$color-shadow: rgba(0, 0, 0, 0.5);

// Types
$color-grass: #38bf4b;
$color-poison: #b567ce;
$color-normal: #919aa2;
